.w{
    width: 1200px;
    margin: 0 auto;
}

.style_red{
    color: #c81623;
}

/* 快捷导航栏 */

.shortcut{
    height: 31px;
    background-color:#f1f1f1;
}

.shortcut .w .left{
    float: left;
}

.shortcut .w .left ul li{
    float :left;
    line-height: 31px;
    font-family: SimSun;
    font-size:12px;
    color:#666666;
}

.shortcut .w .right{
    float: right;
}

.shortcut .w .right ul li{
    float :left;
    line-height: 31px;
    font-family: SimSun;
    font-size:12px;
    color:#666666;
}

.shortcut .w .right ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color:#666;
    margin: 9px 15px 0;
}



